/*Основные*/

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-extra-light: #EEEEEE;
  --basic-dark: #888888;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-red: #FB565A;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Roboto" Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
}

/*Header*/

.main-header-logo {
  display: block;
  margin-left: 140px;
  position: relative;
  top: 47px;
  left: 2px;
}

.site-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  list-style: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  position: relative;
  bottom: 14px;
  left: -38px;
}

.site-cart {
  color: var(--basic-black);
  text-transform: uppercase;
  position: relative;
  left: 1206px;
  top: -60px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  display: block;
}

.site-cart svg {
  position: relative;
  left: -20px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation a, .site-cart a {
  color: var(--basic-black);
}

.site-navigation li {
  display: inline;
  margin-right: 42px;
}

.site-navigation li:first-child {
  margin-left: 500px;
}

.site-cart:hover {
  color: var(--basic-red);
}

.site-cart:active {
  opacity: 0.3;
}

.main-header-logo a:hover {
  opacity: 0.7;
}

.main-header-logo a:active {
  opacity: 0.3;
}

.site-navigation li a:hover {
  color: var(--basic-red);
}

.site-navigation li a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.first-header {
  background-color: var(--basic-extra-light);
  min-height: 114px;
  width: 1440px;
  /*margin-bottom: -50px;*/
  margin: 0 auto;
}

.header-bar {
  background-color: var(--basic-extra-light);
  min-height: 114px;
  width: 100%;
}

/*Services*/

.items {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows:1fr;
  margin: 80px 100px 30px 120px;
  width: 1100px;
  border-bottom: var(--basic-extra-light) solid 1px;
  padding-bottom: 90px;

}

.second-header {
  background-color: var(--basic-extra-light);
  min-height: 209px;
  width: 100%;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.features h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.products h2 {
  text-transform: uppercase;
  margin: 55px 55px 30px 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.services-slogan {
  display: block;
  margin-left: 140px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  position: relative;
  top: 77px;
  
}

.services-slogan-description {
  display: block;
  margin-left: 140px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  top: 60px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

h1 {
  display: none;
}

.services h2 {
  font-size: 55px;
  line-height: 55px;
}

.wrapper {
  background-image: url(../img/nerds-index-slide1.png);
  width: 760px;
  height: 427px;
  left: 538px;
  top: -263px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.slider {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  left: 97px;
  top: -7px;
}

.slide {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.current {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: 2px solid #C1C1C1;
  box-sizing: border-box;
}

.slider-controls {
  position: relative;
  top: 318px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;
  height: 18px;
  opacity: 0;
  border-radius: 50%;
}

.slider-controls-button {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.container-wrapper {
  background-color: var(--basic-extra-light);
  width: 1440px;
  height: 431px;
  margin: -95px auto 0 auto;
}

.container-wrapper-bar {
  background-color: var(--basic-extra-light);
  width: 100%;
  height: 431px;
  margin: -50px auto 0 auto;
}

.know-more {
  background-color: var(--basic-red);
  width: 240px;
  min-height: 35px;
  color: var(--basic-white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  top: 80px;
  border-radius: 3px;
  margin-left: 140px;
  display: block;
  padding-top: 15px;

}

.know-more:hover {
  background-color: #E74246;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.know-more:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.web-site .order {
  display: block;
  background-color: var(--basic-red);
  width: 160px;
  min-height: 35px;
  border-radius: 3px;
  color: var(--basic-white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding-top: 15px;
  position: relative;
  top: 10px;
}

.web-site p {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; 
  position: relative;
  top: -5px;
}

.web-site .order:hover {
  background-color: #E74246;
}

.web-site .order:active {
  background-color: #D7373B;
  ;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.app .order {
  display: block;
  background-color: var(--basic-green);
  width: 160px;
  min-height: 35px;
  border-radius: 3px;
  color: var(--basic-white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding-top: 15px;
  position: relative;
  top: 10px;
}

.app p {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  top: -5px;
}

.app .order:hover {
  background-color: #00BC6C;
}

.app .order:active {
  background-color: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.presentation .order {
  display: block;
  background-color: var(--basic-yellow);
  width: 160px;
  min-height: 35px;
  border-radius: 3px;
  color: var(--basic-white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding-top: 15px;
  position: relative;
  top: 10px;
}
.presentation p {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  top: -5px;  
}

.presentation .order:hover {
  background-color: #EAB534;
}

.presentation .order:active {
  background-color: #E5A722;
  ;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.know-more a {
  color: var(--basic-white);
}

.main-navigation-wrapper {
  background-color: var(--basic-extra-light);
  width: 1440px;
  height: 416px;
  position: absolute;
}

.price-range {
  background-color: var(--basic-extra-light);
  width: 260px;
  height: 80px;
}

.items {
  text-transform: uppercase;
  margin: 80px auto 80px auto;
  position: relative;
  left: -30px;
}

.items h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.items h2+p {
  text-transform: none;
}

.description-slogan {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 32px;
  position: relative;
  top: 2px;
}

.efficiency {
  list-style: none;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 50px 50px;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  width: 380px;
  height: 70px;
  position: relative;
  top: -40px;
  left: 18px;
}

.efficiency li:first-child {
  grid-column-start: 1;
  grid-row-start: 1;
}

.efficiency li:nth-child(2) {
  grid-column-start: 2;
  grid-row-start: 1;
}

.efficiency li:nth-child(3) {
  grid-column-start: 3;
  grid-row-start: 1;
}

.efficiency li:nth-child(4) {
  grid-column-start: 1;
  grid-row-start: 2;
}

.efficiency li:nth-child(5) {
  grid-column-start: 2;
  grid-row-start: 2;
}

.efficiency li:nth-child(6) {
  grid-column-start: 3;
  grid-row-start: 2;
}

.efficiency-level {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 25px;
}

.description-grid {
  display: grid;
  grid-template-columns: 750px 418px;
  grid-template-rows: 1fr 1fr;
  grid-column-start: auto;
  margin: 0 auto;
  width: 1174px;
}

.description-grid-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: -50px;
  margin-left: 6px;
}

.description-grid-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.description-grid-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.description-grid-3 img {
  position: relative;
  bottom: 39px;
  left: 59px;
}

.about-us h2 {
  display: none;
}

.about-us p:first-child {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.advantages {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  left: 75px;
  top: -25px;
}

.our-services {
  list-style: none;
  position: relative;
  left: -25px;
}

.our-services li::before {
  content: url(../img/red-rectangle.svg);
  width: 10px;
  height: 2px;
  position: relative;
  bottom: 5px;
  right: 7px;
}

.our-services li:first-child:before {
  opacity: 0;
  position: relative;
  left: 25px;
}

.our-services li {
  margin-bottom: 23px;
  position: relative;
  top: -23px;
}

.our-services li:first-child {
  left: -35px;
  list-style: none;
}

.product-info {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 1085px;
  border-top: var(--basic-extra-light) solid 1px;
  border-bottom: var(--basic-extra-light) solid 1px;
  padding: 40px 0 40px 0;
  margin-top: 30px;
  margin-bottom: 75px;
  margin-left: 40px;
}

.product-logo {
  opacity: 0.2;
}

.product-logo:hover {
  opacity: 1;
}

.product-logo:active {
  opacity: 0.1;
}

/*Footer*/

.footer-map img:nth-child(2) {
  position: relative;
  left: 823px;
  bottom: 340px;
}

.footer-map {
  display: block;
  width: 100%;
  position: relative;

}

.main-footer {
  margin: 0 auto;
  width: 1440px;
}

.footer-address {
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 319px;
  min-height: 308px;
  margin-left: 140px;
  margin-top: 100px;
  left: 0px;
  bottom: 665px;
  text-align: left;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-address p:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  position: relative;
  top: 30px;
  left: 50px;
}

.footer-address p:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
  position: relative;
  top: 18px;
  left: 50px;
}

.social {
  list-style: none;
  margin: -560px 1500px 76px 141px;
  width: 262px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 13px;
}

.final-text {
  display: block;
  margin: -150px auto auto 540px;
  position: relative;
  bottom: -16px;
}

.final-text p:first-child {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: -7px;
}
.final-text p:nth-child(2) {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.social a {
  color: var(--basic-black);
}

.logo-background {
  height: 81px;
  width: 81px;
  background-color: var(--basic-extra-light);
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
}

.social-button {
  width: 81px;
  height: 81px;
  background-color: var(--basic-extra-light);
  border-radius: 50%;
  background-position: center;
}

.social-button:hover {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social a:first-child {
  background-image: url(../img/vk-icon.png);
  background-repeat: no-repeat;
}

.social a:nth-child(2) {
  background-image: url(../img/facebook-icon.png);
  background-repeat: no-repeat;
  ;
}

.social a:nth-child(3) {
  background-image: url(../img/insta-icon.png);
  background-repeat: no-repeat;
}

.contact-us {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  width: 219px;
  min-height: 35px;
  color: var(--basic-white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  padding-top: 15px;
  position: relative;
  top: 40px;
}

.phone {
  color: var(--basic-dark);
}

.contact-us:hover {
  background-color: #E74246;
}

.contact-us:active {
  background-color: #D7373B;
}

.contact-us a {
  color: var(--basic-white);
}

.visually-hidden {
  display: none;
}

/*catalog*/

.main-catalog {
  display: grid;
  grid-template-columns: 480px 960px;
  grid-template-rows: auto auto auto auto;
  margin: 0 auto;
  width: 1440px;
}

.select {
  width: 358px;
  height: 100%;
  margin: 54px 141px 0 auto;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--basic-extra-light);
  cursor: pointer;
}

.select p:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.select p:active {
  opacity: 1;
  color: var(--basic-black);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
  min-height: 80px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 100%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  /* left: 30px; */
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

/*filter start*/

.visually-hidden-filter {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters {
  width: 180px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
  font-size: 16px;
  list-style: 20px;
  font-weight: 400;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

}


.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-color: var(--basic-extra-dark);
  opacity: 0.5;
}

.filter-input-checkbox:hover+label::before {
  border-color: var(--basic-extra-dark);
  opacity: 1;
}

.filter-input-checkbox:active+label::before {
  border-color: var(--basic-extra-dark);
  opacity: 0.2;
}

.filter-input-checkbox:checked+label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: -38px;
  background-image: url("..img/checked-box.svg");
}

.filter-input-checkbox:checked+label {
  opacity: 0.3;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-color: #4D4D4D;
  opacity: 0.5;
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: #283136;
  opacity: 0.3;
  border-radius: 50%;
}

.filter-input-radio:hover+label::before {
  color: #283136;
  opacity: 1;
}

.filter-input-radio:hover+label::after {
  color: #283136;
  opacity: 1;
}

.filter-input-radio:checked+label {
  color: #283136;
  opacity: 0.3;
}

.filter-button {
  padding-right: 30px;
  padding-left: 30px;
}

/*filter end*/

.features {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 5px auto auto 140px;
}

.products {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto auto auto auto auto;
  padding-left: 60px;
  /* display: flex;
          flex-direction: column; */
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-list {
  list-style: none;
  margin-left: -40px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.up-down {
position: relative;
top: 10px;
opacity: 0.2;
}
.up-down:hover {
 opacity: 0.5;
  }
  .up-down:active {
  opacity: 1;
   } 


.controls-bar {
  width: 360px;
  height: 40px;
  background-color: var(--basic-extra-light);
  opacity: 0.5;
  border-radius: 3px;
}

.sedona .controls-bar {
  background-color: var(--basic-dark);
  border-radius: 3px;
  height: 40px;
}

.control-botton {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 10px;
  margin-bottom: -5px;
}

.controls {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex: row;
  position: relative;
  left: -20px;
}

.controls li {
  margin-right: 10px;
}

.sedona {
  width: 360px;
  height: 578px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom: 20px;
  border-width: 3px;
  border-color: var(--basic-black);
}

.pink {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom: 31px;
}

.borodinski {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 20px;
}

.mishka {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 20px;
}

.a-study {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-bottom: 20px;
}

.kvast {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-bottom: 31px;
  margin-bottom: 20px;
}

.borodinski img, .pink img, .mishka img, .a-study img, .kvast img, .sedona img {
  border: 1px solid;
  border-color: var(--basic-extra-light);
  border-radius: 3px;
}

.product-landing-box {
  background-color: var(--basic-extra-light);
  width: 360px;
  height: 231px;
  position: relative;
  bottom: 144px;
  display: block;
  top: -255px;
}

.product-landing-box p:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-dark);
}

.product-landing-box p:first-child {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.product-landing-box p:first-child:hover {
  color: var(--basic-red);
  cursor: pointer;
}

.product-landing-box p:first-child:active {
  color: var(--basic-black);
  opacity: 0.3;
  cursor: pointer;
}

.products-landing-button {
  background-color: var(--basic-red);
  width: 200px;
  min-height: 35px;
  border-radius: 3px;
  position: relative;
  top: 44px;
  left: 80px;
  text-align: center;
  padding-top: 12px;
}

.products-landing-button a {
  color: var(--basic-white);
  font: 16px;
  font-weight: 500;
  line-height: 18px;
}

.products-landing-button:hover {
  background-color: #E74246;
}

.products-landing-button:active {
  background-color: #D7373B;
}

.button {
  width: 260px;
  height: 50px;
  background-color: var(--basic-extra-light);
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 48px;
}

.button:hover {
  background-color: #DFDFDF;
}

.button:active {
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.page-button {
  background-color: var(--basic-extra-light);
  width: 50px;
  height: 50px;
  border: 0;
  margin: 30px 10px 60px 0;
  border-radius: 3px;
}

.active-botton {
  background-color: var(--basic-white);
  border-color: var(--basic-extra-light);
  border: 2px, solid;
  background-image: url(../img/page-active.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.page-button-next {
  background-color: var(--basic-extra-light);
  min-width: 260px;
  min-height: 50px;
  border-color: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
}

.invisible-buttons {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 470px;
}

.invisible-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  min-width: 260px;
  min-height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.page-button:focus {
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-black);
  opacity: 0.3;
}

.page-button:hover {
  background-color: #DFDFDF;
}

.page-button-next:active {
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-black);
  opacity: 0.3;
}

.page-button-next:hover {
  background-color: #DFDFDF;
}

/*Modal*/ 

.popup-box {
width: 960px;
height: 590px; 
background-color: var(--basic-white);
position: relative;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.overlay {
  position: absolute;
  top: -230px;
  left: 100px;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup-box .close {
  position: absolute;
  top: 78px;
  right: 90px;
  opacity: 0.3;
}
.popup-box .close:hover {
 opacity: 1;
}

.popup-box .close:active {
  opacity: 0.2;
 }

.popup-box h2{
color: var(--basic-black); 
font-size: 45px;
font-weight: 700;
line-height: 53px; 
position: relative;
top: 50px;
left: 60px;
margin-bottom: 50px;
margin-left: 40px;
}

.popup-box label {
width: 380px;
height: 80px; 
display: block;
font-size: 16px;
line-height: 18px;
font-weight: 700;
margin-top: 30px;
margin-left: 30px;
}
.popup-box input {
  width: 360px;
  height: 50px; 
  border: 2px solid #D7DCDE;
  display: block;
  margin-top: 9px;
  border: 2px solid #D7DCDE;
  }
  .popup-box form {
    display: flex;
    margin-top: 37px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .popup-box textarea {
    width: 760px;
    min-height: 118px;
    border: 2px solid #D7DCDE;
    margin-top: 9px;
  }
  .pop-button {
   position: relative;
   top: 180px;
   left: -410px;
   background-color: var(--basic-red);
   width: 259px;
   height: 50px; 
   border-radius: 3px; 
   color: var(--basic-white);
   text-transform: uppercase;
   cursor: pointer;
   display: block;
   border:none; 
  }

  .pop-button:hover {
    background-color:  #E74246;
  }
  .pop-button:active {
    background-color:  #D7373B;
  }




